# **Motor Trend Car Road Tests**

### **Description**

**The data was extracted from the 1974 Motor Trend US magazine, and comprises fuel consumption and 10 aspects of automobile design and performance for 32 automobiles (1973â€“74 models).**

**A data frame with 32 observations on 11 (numeric) variables along with the name of the model.**

- model - name of the car model
- mpg - Miles/(US) gallon
- cyl - Number of cylinders
- disp - Displacement (cu.in.)
- hp - Gross horsepower
- drat - Rear axle ratio
- wt - Weight (1000 lbs)
- qsec - 1/4 mile time
- vs - Engine (0 = V-shaped, 1 = straight)
- am - Transmission (0 = automatic, 1 = manual)
- gear - Number of forward gears
- carb - Number of carburetors

In [304]:
# importing requied modules
import pandas as pd
import numpy as np

In [305]:
#reading the data
car_data = pd.read_csv('/home/user/Datasets/mtcars.csv')
car_data

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

## **Breakdown of input variables on the performance of the car** 

- model - 
> name of the car model

- mpg - Miles/(US) gallon -  
> The higher its mpg figure, the more fuel-efficient a car is. 

- cyl - Number of cylinders - 
> The more cylinders in an engine, the more combustion that occurs, creating more movement to turn the crankshaft and power to move the car. The fewer cylinders and lighter engine mean that more fuel efficient the car is.

- disp - Displacement (cu.in.) - 
> higher an engine's displacement the more power it can create, while the lower the displacement the less fuel it can consume.

- hp - Gross horsepower - 
> The more horsepower a car produces, the better its acceleration, which is a strong factor in its overall performance.

- drat - Rear axle ratio -
> A higher numerical axle ratio will have more towing capacity.A smaller axle ratio will increase fuel economy but lack the additional torque and power.

- wt - Weight (1000 lbs) - 
> weight alone is not indicative of performance, but a ratio of hp/wt is. better the hp/wt, better the performcance of a car.

- qsec - 1/4 mile time -
> lower the value, better the performance

- vs - Engine (0 = V-shaped, 1 = straight) - 
> Because of the way they merge, V-shaped engines can fit more pistons into a smaller space, produce more torque at lower RPMs, and generally have greater engine displacement and in general better performance 

- am - Transmission (0 = automatic, 1 = manual) - 
> Manual cars always get better fuel economy than cars with automatic gearboxes.

- gear - Number of forward gears -
> more gears offer more flexibility for a car when it needs to accelerate and deliver peak power since the additional ratios can put the engine in its sweet spot

- carb - Number of carburetors - 
> more the number better the performance

In [306]:
car_data.shape

(32, 12)

In [307]:
list_of_columns = list(car_data.columns)
list_of_columns

['model',
 'mpg',
 'cyl',
 'disp',
 'hp',
 'drat',
 'wt',
 'qsec',
 'vs',
 'am',
 'gear',
 'carb']

In [308]:
car_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   model   32 non-null     object
 1   mpg     32 non-null     float64
 2   cyl     32 non-null     int64
 3   disp    32 non-null     float64
 4   hp      32 non-null     int64
 5   drat    32 non-null     float64
 6   wt      32 non-null     float64
 7   qsec    32 non-null     float64
 8   vs      32 non-null     int64
 9   am      32 non-null     int64
 10  gear    32 non-null     int64
 11  carb    32 non-null     int64
dtypes: float64(5), int64(6), object(1)
memory usage: 3.1+ KB

In [309]:
car_data.describe()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
count,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.0000
mean,20.090625,6.187500,230.721875,146.687500,3.596563,3.217250,17.848750,0.437500,0.406250,3.687500,2.8125
std,6.026948,1.785922,123.938694,68.562868,0.534679,0.978457,1.786943,0.504016,0.498991,0.737804,1.6152
min,10.400000,4.000000,71.100000,52.000000,2.760000,1.513000,14.500000,0.000000,0.000000,3.000000,1.0000
25%,15.425000,4.000000,120.825000,96.500000,3.080000,2.581250,16.892500,0.000000,0.000000,3.000000,2.0000
50%,19.200000,6.000000,196.300000,123.000000,3.695000,3.325000,17.710000,0.000000,0.000000,4.000000,2.0000
75%,22.800000,8.000000,326.000000,180.000000,3.920000,3.610000,18.900000,1.000000,1.000000,4.000000,4.0000
max,33.900000,8.000000,472.000000,335.000000,4.930000,5.424000,22.900000,1.000000,1.000000,5.000000,8.0000

### **Create a new column called performance using hp/wt and normalize it so that the range is from 0.0 to 1.0**

In [310]:
#creating 'performance' column
car_data['performance'] = car_data['hp']/car_data['wt']

In [311]:
car_data.head()

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,performance
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4,41.984733
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4,38.260870
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1,40.086207
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1,34.214619
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2,50.872093

In [312]:
#Normalizing 'performance' column
car_data['performance'] = (car_data['performance'].values - car_data['performance'].min())/(car_data['performance'].max() - car_data['performance'].min())

In [313]:
car_data.head()

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,performance
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4,0.303071
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4,0.253020
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1,0.277553
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1,0.198636
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2,0.422521

In [314]:
car_data.describe()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,performance
count,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.0000,32.000000
mean,20.090625,6.187500,230.721875,146.687500,3.596563,3.217250,17.848750,0.437500,0.406250,3.687500,2.8125,0.348095
std,6.026948,1.785922,123.938694,68.562868,0.534679,0.978457,1.786943,0.504016,0.498991,0.737804,1.6152,0.218915
min,10.400000,4.000000,71.100000,52.000000,2.760000,1.513000,14.500000,0.000000,0.000000,3.000000,1.0000,0.000000
25%,15.425000,4.000000,120.825000,96.500000,3.080000,2.581250,16.892500,0.000000,0.000000,3.000000,2.0000,0.218230
50%,19.200000,6.000000,196.300000,123.000000,3.695000,3.325000,17.710000,0.000000,0.000000,4.000000,2.0000,0.290312
75%,22.800000,8.000000,326.000000,180.000000,3.920000,3.610000,18.900000,1.000000,1.000000,4.000000,4.0000,0.380944
max,33.900000,8.000000,472.000000,335.000000,4.930000,5.424000,22.900000,1.000000,1.000000,5.000000,8.0000,1.000000

In [315]:
car_data_new = car_data.copy()

In [316]:
car_data_new.head()

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,performance
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4,0.303071
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4,0.253020
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1,0.277553
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1,0.198636
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2,0.422521

### **Which car has the highest hp where the wt is less than or equal to 3.33**

In [317]:
#Accessing all data with wt less than or equal to 3.33
car_data[car_data['wt'] <=3.33]

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,performance
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4,0.303071
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4,0.253020
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1,0.277553
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1,0.198636
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2,0.000000
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2,0.144123
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1,0.141989
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2,0.171534
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1,0.214869
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1,0.267671
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1,0.197210
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2,0.310310
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2,0.742594
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4,0.858111
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6,0.587905
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2,0.265758

In [318]:
#Accessing the column 'hp' from the above subset
car_data[car_data['wt'] <=3.33]['hp']

0     110
1     110
2      93
3     110
7      62
8      95
17     66
18     52
19     65
20     97
25     66
26     91
27    113
28    264
29    175
31    109
Name: hp, dtype: int64

In [319]:
#Obtaining the highest hp for the above subset
car_data[car_data['wt'] <=3.33]['hp'].max()

264

### **Find the range of disp column**

In [320]:
# maximum value in the column 'disp'
car_data['disp'].max()

472.0

In [321]:
# minimum value in the column 'disp'
car_data['disp'].min()

71.1

In [322]:
#range is the difference between maximum and minimum value
range_disp = car_data['disp'].max() - car_data['disp'].min()
range_disp

400.9

## **Effect of some of the input variables on mpg and performance**

In [323]:
#normalizing mpg to make the weightage equal

car_data['mpg_norm'] = (car_data['mpg'].values - car_data['mpg'].min())/(car_data['mpg'].max() - car_data['mpg'].min()) 
car_data['mpg_norm'].head()

0    0.451064
1    0.451064
2    0.527660
3    0.468085
4    0.353191
Name: mpg_norm, dtype: float64

### **Find the average of mpg_norm and performance grouping by cyl**

In [324]:
avg_mpg_and_performance_grouped_by_cyl = car_data.groupby(['cyl'])[['mpg_norm','performance']].mean()
avg_mpg_and_performance_grouped_by_cyl

     mpg_norm  performance
cyl
4    0.692070     0.248510
6    0.397568     0.275426
8    0.200000     0.462676

#### **INFERENCE**: Higher the number of cylinders, higher the performance and lower the mpg

### **Find the average of mpg_norm and performance grouping by vs**

In [325]:
avg_mpg_and_performance_grouped_by_vs = car_data.groupby(['vs'])[['mpg_norm','performance']].mean()
avg_mpg_and_performance_grouped_by_vs

    mpg_norm  performance
vs
0   0.264539     0.440654
1   0.602432     0.229092

#### **INFERENCE**: If it is v shaped, it has higher the performance and lower the mpg than inline (straight)

### **Find the average of mpg_norm and performance grouping by gear**

In [326]:
avg_mpg_and_performance_grouped_by_gear= car_data.groupby(['gear'])[['mpg_norm','performance']].mean()
avg_mpg_and_performance_grouped_by_gear

      mpg_norm  performance
gear
3     0.242837     0.348820
4     0.601418     0.200652
5     0.467234     0.699784

#### **INFERENCE**: More the number of gears, better the overall performance as the decrese in mpg is lesser than increase in performance as gears increses from 4 to 5

### **Find the average of mpg_norm and performance grouping by am**

In [327]:
avg_mpg_and_performance_grouped_by_am = car_data.groupby(['am'])[['mpg_norm','performance']].mean()
avg_mpg_and_performance_grouped_by_am

    mpg_norm  performance
am
0   0.287122     0.306059
1   0.595417     0.409533

#### **INFERENCE**: manual transmission is a better choice hands down. It has both higher performance and higher mpg than automatic transmission.

### **Find the average of mpg_norm and performance grouping by carb**

In [328]:
avg_mpg_and_performance_grouped_by_carb = car_data.groupby(['carb'])[['mpg_norm','performance']].mean()
avg_mpg_and_performance_grouped_by_carb

      mpg_norm  performance
carb
1     0.635866     0.206368
2     0.510638     0.304456
3     0.251064     0.366457
4     0.229362     0.396264
6     0.395745     0.587905
8     0.195745     1.000000

#### **INFERENCE**: As the number of carburetors increase, it is seen that mpg decrease while performance increases.

### **What is the mean mpg for cars with hp more than 125 and a wt less than 3.33**

In [329]:
#Finding cars with hp more than 125
car_data[car_data['hp'] > 125]

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,performance,mpg_norm
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2,0.422521,0.353191
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4,0.661163,0.165957
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3,0.333195,0.255319
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3,0.387378,0.293617
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3,0.378799,0.204255
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4,0.263594,0.000000
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4,0.271538,0.000000
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4,0.317131,0.182979
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2,0.311523,0.217021
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2,0.325696,0.204255
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4,0.596307,0.123404
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2,0.350501,0.374468
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4,0.858111,0.229787
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6,0.587905,0.395745
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8,1.000000,0.195745

In [330]:
#Finding cars with hp more than 125 and wt less than 3.33
car_data[(car_data['hp'] >125) & (car_data['wt'] <3.33)]

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,performance,mpg_norm
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.17,14.5,0,1,5,4,0.858111,0.229787
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.77,15.5,0,1,5,6,0.587905,0.395745

In [331]:
#getting mpg column of the above subset
(car_data[(car_data['hp'] >125) & (car_data['wt'] <3.33)])['mpg']

28    15.8
29    19.7
Name: mpg, dtype: float64

In [332]:
#getting mean mpg of the above subset
(car_data[(car_data['hp'] >125) & (car_data['wt'] <3.33)])['mpg']. mean()

17.75

### **Of the cars that have most common gear system, which has highest hp?**

In [333]:
#Finding out most common gear system
car_data['gear'].value_counts()

3    15
4    12
5     5
Name: gear, dtype: int64

In [334]:
# accessing most common gear system
idx = (car_data['gear'].value_counts()).index[0]
idx

3

In [335]:
#accessing all the data with most common gear system
car_data[car_data['gear'] == idx]

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,performance,mpg_norm
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1,0.198636,0.468085
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2,0.422521,0.353191
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1,0.146651,0.327660
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4,0.661163,0.165957
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3,0.333195,0.255319
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3,0.387378,0.293617
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3,0.378799,0.204255
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4,0.263594,0.000000
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4,0.271538,0.000000
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4,0.317131,0.182979
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1,0.267671,0.472340
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2,0.311523,0.217021
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2,0.325696,0.204255
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4,0.596307,0.123404
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2,0.350501,0.374468

#confirming count
(car_data[car_data['gear'] == idx]).shape

In [336]:
#accessing hp column for the above subset
car_data[car_data['gear'] ==idx]['hp']

3     110
4     175
5     105
6     245
11    180
12    180
13    180
14    205
15    215
16    230
20     97
21    150
22    150
23    245
24    175
Name: hp, dtype: int64

In [337]:
#obtaining the highest hp value for the above subset
car_data[car_data['gear'] ==idx]['hp'].max()

245

### **List the top 5 car models by mpg**

In [338]:
car_data.nlargest(5, columns ='mpg')

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,performance,mpg_norm
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1,0.214869,1.000000
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1,0.141989,0.936170
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2,0.171534,0.851064
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2,0.742594,0.851064
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1,0.197210,0.719149

### **List the top 5 car models by performance**

In [339]:
car_data.nlargest(5, columns ='performance')

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,performance,mpg_norm
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8,1.000000,0.195745
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4,0.858111,0.229787
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2,0.742594,0.851064
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4,0.661163,0.165957
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4,0.596307,0.123404

#### **Now from all the stats, it is some what clear that most of the input variables has a trade-off between performance and fuel efficiency. So a good car would be the one which ideally has high performance AND high fuel efficiency (mpg).** 


#### **From this deduction, we are going to define a new criterion named 'golden_score' which is basically the product of normalized mpg and normalized performance.**

> #### A car with high performance and high fuel efficiency would score high, whereas a car with either low fuel efficiency and high performance or high fuel efficiency and low performance would score low.
> #### An ideal car in the group will have a score of 100, whereas as the car with either minimum mpg or mimimum performance or both will score 0

In [340]:
#calculating golden score

car_data['golden_score'] = (car_data['performance'])*(car_data['mpg_norm'])*100
car_data['golden_score'].head()

0    13.670418
1    11.412811
2    14.645370
3     9.297860
4    14.923098
Name: golden_score, dtype: float64

In [341]:
car_data.head()

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,performance,mpg_norm,golden_score
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4,0.303071,0.451064,13.670418
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4,0.253020,0.451064,11.412811
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1,0.277553,0.527660,14.645370
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1,0.198636,0.468085,9.297860
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2,0.422521,0.353191,14.923098

In [342]:
#Top 10 cars

top_10_cars = car_data.nlargest(10, columns ='golden_score')
top_10_cars

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,performance,mpg_norm,golden_score
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2,0.742594,0.851064,63.199476
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6,0.587905,0.395745,23.266011
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1,0.214869,1.000000,21.486855
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2,0.310310,0.663830,20.599307
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4,0.858111,0.229787,19.718301
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8,1.000000,0.195745,19.574468
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2,0.422521,0.353191,14.923098
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1,0.277553,0.527660,14.645370
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2,0.171534,0.851064,14.598601
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1,0.197210,0.719149,14.182348

# **CONCLUSION:**
### **Lotus Europa is by far the best of the lot with a decent performance and a decent fuel efficeincy having a golden score nearly 3 times than that of its nearest competition**